.juegoFacil {
  grid-template-columns: repeat(4, 1fr);
  width: 50vw;
}

.juegoMedio {
  grid-template-columns: repeat(5, 1fr);
  width: 50vw;
}
.juegoDificil {
  grid-template-columns: repeat(7, 1fr);
  width: 65vw;
}

#juego {
  margin: auto;
  padding: 2%;

  background-color: #262626;
  display: grid;
  gap: 10px;
}

.carta {
  aspect-ratio: 1/1;
  background-color: transparent;
  transition: transform 0.6s;
  perspective: 800px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.carta > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

/* Contenedor interno para aplicar el giro 3D */
.carta .flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Gira la carta si tiene la clase flipped */
.carta.flipped .flip-inner {
  transform: rotateY(180deg);
}

/* Cara frontal (tapa) */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

/* Imagen de tapa */
.flip-front img,
.flip-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Cara trasera (imagen de la carta descubierta) */
.flip-back {
  transform: rotateY(180deg);
}

#manejo-container {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  margin: 2% 0;
}

.botones-manejo {
  background-color: #512e5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 2em;
  border: 3px solid transparent;
}

.botones-manejo:hover {
  border: 3px solid white;
}

@media (max-width: 800px) {
  #juego {
    width: 98%;
  }

  .juegoFacil {
    grid-template-columns: repeat(3, 1fr);
  }

  .juegoMedio {
    grid-template-columns: repeat(4, 1fr);
  }
  .juegoDificil {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  #juego {
    width: 75%;
  }
  #manejo-container {
    width: 90%;

    padding: 0 1rem;
    margin: 2% 0;
  }
  .botones-manejo {
    font-size: 1em;
  }
}
